<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

    </head>

    <body>
        <div id="header-global">
            <div id="header-global-title">
                <h1>canard coincoin.com</h1>
            </div>
            <div id="header-global-undertitle">
                <p>Le <strong>meilleur</strong> site de location de véhicules bizarres</p>
            </div>
            {% if app.user is not null %}
                <div id="header-global-username">
                    utilisateur : {{ app.user.userIdentifier }} 
                </div>
                <div id="header-global-userrole">
                    role : {{( app.user.roles.0) }} 
                </div>
            {% endif %}
            </div>
                {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                {{ message }}
                </div>
                {% endfor %}
            </div>
    </body>
    {% block body %}{% endblock %}


</html>